#ignore poetry.lock
poetry.lock

#ignore ambiente virtual
.venv

#ignore alembic.ini
alembic.ini

#ignore variaveis de ambiente
.env

#ignore __pycache__ em qualquer sub-diretorio
**/__pycache__/
.vercel
